@font-face {
	font-family: myHultog;
	src: url(../1560/font/Hultog.ttf);
  
  }
  
  @font-face {
	font-family: myHultogCoursive;
	src: url(../1560/font/HultogItalic.ttf);
   
  }
  
  
  @font-face {
	font-family: myCaps;
	src: url(../1560/font/GoudyInitialen.ttf);
   
  }

#file {
	color: #4a433e;
	padding-top: 150px;
	padding-bottom: 240px;
	padding-left: 150px;
	padding-right: 150px;	
	font-size: 15pt;
	font-family: myHultog;
	text-align: justify;
	line-height: 1.5;
	background-color: #ccab68;
	background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}


#file h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: myHultogCoursive;
    font-size: 24pt;
	letter-spacing: 6px;
	padding-bottom: 1.6em;
}
#file h2 {
	letter-spacing: 10px;
	text-align: center; 
	text-transform: uppercase;
	line-height: 1.5;
	font-size: 21pt;
	font-family:  myHultog;
	padding-top: 1em;
	padding-bottom: 1.6em;
}
#file h3, #file h4, #file h5 {font-family:  myHultogCoursive;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	font-size: 15pt;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.5;
}

#file ul {
    list-style: upper-roman;
    list-style-position: inside;
}

#file img {
    max-width: 100%;
    max-height: 100%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	filter: sepia(1);
	-webkit-filter: sepia(1);
	border:2px solid;
	margin-top: 1em;
    margin-bottom: 1em;
}


#file figcaption {
	font-size: 0.9em;
	text-align: center;
	line-height: 1.5;
	padding: 5px;
	margin-bottom:1.6em;
}

#file th {
	border: 1px solid #4a433e;
	text-transform: uppercase;
	padding: 10px;

}


#file td {
	border: 1px solid #4a433e;
	padding: 10px;
}


#file tr{
	border: 1px solid #4a433e;
}


#file table {border: 4px solid;
	margin-bottom: 1em;
	margin-top: 1.6em;
	word-break: break-all;
	margin-left: auto;
	margin-right: auto;
	color: #4a433e;
	border-spacing: 1px;
	border-collapse: separate;
	font-size:0.9em;
}
#file a {
	color: #4a433e;
	text-decoration:none;
}

	#file a:hover {
		color: #4a433e;
		text-decoration:underline;
	}
#ArticleBody {
	overflow: hidden;
}
#ArticleBody a {
	text-decoration:underline;
}
#ArticleBody a:hover {
	text-decoration: none;
}

#file caption{
	color:inherit;
}
#file h4:after {
    display:none;
}
#CoverWrapper {
	font-family: myHultog;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.5;
	font-size: 21pt;
	padding-bottom: 88px;
}
#CoverWrapper div.maincover {
	display:flex;
	flex-direction: column;
}

#CoverWrapper div.maincover>div.coverpic {
	order:2
}

#CoverWrapper div.maincover>div.title {
	order:1
}
#CoverWrapper div.maincover>div.coverinfo {
	order:3
}

#CoverWrapper figcaption {
	font-family: myHultogCoursive;
	text-transform: capitalize;
}
#FootWrapper, #file .myPubnote {
	padding-left: 1.6em;
	padding-right: 1.6em;
	font-family: myHultogCoursive;
	font-size:13px;
}
#FootWrapper p, #file .myPubnote p {
	text-indent:1em;
}
#file .label {
	font-family: myHultogCoursive;
	text-transform: uppercase;
}
#ContentWrapper h2 + p::first-letter, #ContentWrapper p:first-of-type::first-letter {
	font-family: myCaps;
	float: left;
	font-size: 90pt;
	line-height: 90pt;
	padding-top: 20px;
	padding-right: 6px;
}

/* COVER */

#IssueCover {
	display:flex;
	flex-direction:column;
	justify-content:center;
	font-size:21pt;
}
#IssueCover {
	display:flex;
	flex-direction:column;
	justify-content:center;
	font-size:21pt;
}
#IssueCover h1 {
	padding:0em;
	font-family:myHultog;
	font-size:1.6em;
	text-transform:uppercase;
}
#IssueIndex .ArticleInfo {
	text-align: center;
	line-height: 1.5;
	padding-left: 1em;
	padding-right: 1em;
	font-family: myHultogCoursive;
}
#IssueIndex .ArticleInfo p {
    margin: 0;
}
	#IssueIndex .ArticleInfo p:first-of-type {
		text-transform: uppercase;
		padding-top: 1em;
		font-family: myHultog;
		text-transform:uppercase;
	}
	
	#IssueIndex img.articleImg {
		display:none;
	}

.IssueBibliographicCitation {
	font-family:myHultogCoursive;
	order:99;
	text-align: center;
	margin-bottom: 0;
}

	.IssueBibliographicCitation::before {
		content: "";
		background-image: url("../1560/img/eye.png");
		background-size: 100% 100%;
		filter: sepia(1);
		-webkit-filter: sepia(1);
		display: block;
		height: 450px;
		width: 556px;
		margin-top: 3.2em;
		margin-bottom: 1.6em;
		margin-left: auto;
		margin-right: auto;
	}
	/* DISCLAIMER */
	#disclaimer {
		padding:1.6em;
		text-align:center;
	}
	#disclaimer ul {
		list-style-position:outside;
		word-break: break-all;
	}

	@media screen and (min-width: 1278px) {
		#file {
		padding-top: 200px;
		padding-left:200px;
		padding-right: 200px;
		padding-bottom: 324px;
	}

	#CoverWrapper {
		padding-bottom: 124px;
	}
}


@media screen and (max-width: 768px) {
	#file {
		padding-top: 100px;
		padding-bottom: 162px;
		padding-left: 100px;
		padding-right: 100px;
		font-size: 13pt;
	}

		#file h1 {
			font-size: 21pt;
			letter-spacing: 4px;
		}

		#file h2 {
			letter-spacing: 7px;
			font-size: 16pt;
		}

		#IssueCover {
			font-size: 16pt;
		}

		#file h3, #file h4, #file h5 {
			letter-spacing: 7px;
			font-size: 13pt;
		}

	#CoverWrapper {
		font-size: 16pt;
		padding-bottom: 62px;
	}

	#ContentWrapper h2 + p::first-letter, #ContentWrapper p:first-of-type::first-letter {
		font-size: 60pt;
		line-height: 60pt;
		padding-right: 6px;
	}


	#file th, #file td {
		padding:7px;
	}
	.IssueBibliographicCitation::before {
		height: 225px;
		width: 278px;
	}
}
@media screen and (max-width: 480px) {
	#file {
		padding-top: 62px;
		padding-bottom: 100px;
		padding-left: 62px;
		padding-right: 62px;
	}

	#file th, #file td {
		padding:2px;
	}
	#CoverWrapper {
		padding-bottom: 37px;
	}

	#disclaimer {
		padding:1em;
	}
}

