@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&display=swap');


@font-face {
	font-family: Vogue;
	src: url(font/Vogue.ttf);
  
 }

#file a {
	color: #e60000;
}

#file #ArticleBody {
		/** container **/
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-right: 3rem;
	margin-left: 3rem;
		/** end of the container **/
	font-family: 'Source Serif Pro', serif !important;
	font-weight: 550 !important;
	text-align:justify;
	column-count: 2;
	column-gap:3%;
	column-fill: balance;
	padding-bottom: 3%;
	border-bottom: solid 1px black;							/** simil pagination **/
}

#file #CoverWrapper {
	font-family: 'Questrial', sans-serif !important;
	margin-bottom: 3%;
	column-span:all;
}

#file #CoverWrapper .coverpic {
	width: 70%;
	float: right;
	margin-top: -7%;
	margin-right: -4%;
}

#file .title {
	margin-right: 4%;
	margin-bottom: 2%;
	vertical-align: bottom;
	width: 40%;
	float:none; 						/** Togliere dopo aver verificato che funzionino con il js **/
	width: 100%;
}

#file .titlenoimage {
	float:none;
	width: 100%;
}

#file .subtitle {
	font-family: 'Cambo', serif;
	font-style: oblique;
	text-align:right;
	width: 50%;
}

#file #ArticleBody h1 {
	font-family: 'Questrial', sans-serif !important;
	font-weight: 200 !important;
	letter-spacing: 0.002em;
	text-transform: lowercase;
	font-size: 3.8em;
	line-height: 0.8em;
	text-align:right;
	margin-top: 1em;
}

#file span#title_word {
	font-family: 'Cambo', serif;
	font-style: italic;
	color: #e60000;
	font-kerning: normal;
	font-variant-ligatures: discretionary-ligatures;
}

#file .coverinfo {
	margin-bottom: 5%;
}

#file .cover .byline {
	font-family: 'Cambo', serif;
	font-size: 130%;
	margin-left: 10%;
	color: #e60000;
}

#file .coverinfo {
	font-weight: bold;
	margin-left: 10%;
}

#file .publicationDate, .pubnote {
	margin-left: 10%;
}

#file #ArticleBody h2 {
	font-family: 'Barlow Semi Condensed', sans-serif !important;
	letter-spacing: 0.002em;
	line-height: 0.9em;
	font-size: 2em;
}

#file #ArticleBody h3, #ArticleBody h4, #ArticleBody h5 {
	font-family: 'Barlow Semi Condensed', sans-serif !important;
	letter-spacing: 0.002em;
	line-height: 0.9em;
	margin-left: 2%;
}

#file #ArticleBody h3 {
	font-size: 1.5em;
}

#file #ArticleBody h4 {
	font-size: 1.4em;
}

#file #ArticleBody h5 {
	font-size: 1.3em;
}

#file #Abstract {
	background-color: #f2f2f2;
	padding: 3%;
	margin-top: -7%;
}

#file #Abstract .label {
	color: #e60000;
	font-weight: bold;
}

#file #Credits {
	font-family: 'Questrial', sans-serif;
	font-size:0.7em;
	font-style: oblique;
	border-bottom: solid 0.5px #cccccc;
	border-top: solid 0.5px #cccccc;
	margin-bottom: 2%;
	padding: 3%;
}

#file #Summary {
	font-family: 'Questrial', sans-serif;
	font-size:0.8em;
	border: solid 3px #f2f2f2;
	padding: 3%;
	margin-top: -7%;
}

#file #Summary .label {
	color: #e60000;
	font-weight: bold;
	font-size: 1em;
}

#file .myFirstletter {													
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 35vmax;
	color: #e60000;
	text-transform: lowercase;
	float:left;
	shape-outside: unset(20% 20% 20% 20%);
	line-height: 0.91em; 
}

#file figure {
	float:left;
	width:100%;
	margin-left:0%;
}

#file img {
    max-width: 96%;
    max-height: 96%;
	padding-left: 2%; 
	padding-right: 2%;
	margin-top: 2%;
	position: relative;
	z-index: -1;
}

#file figcaption {
	font-family: 'Barlow Semi Condensed', sans-serif !important;
	font-size: 0.8em;
	background-color: #e60000;
	color: white;
	padding: 2%;
	width: 40%;
	margin-left: 50%;
	margin-top: -3%;
}

#file figcaption .num {
	font-weight: bold;
}

#file #Articlebody table {
	font-family: 'Questrial', sans-serif;
	border: 2px solid #b3b3b3;
	width:100%;
	height:100%;
	margin-bottom: 5%;
	margin-top: 5%;
	word-break: break-word;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 1px;
	border-collapse: collapse;
	page-break-inside: avoid;
	height: 50%;
}

#file #ArticleBody th, td {
	border: 1px solid #b3b3b3;
	padding: 2%;
}

#file tr:nth-child(even) {
	background-color: #e6e6e6;
}

#file tr:nth-child(odd) {
	background-color: #f2f2f2;
}

#file th {
	background-color: #ff9999;
}

#file table caption {
	font-size: 0.8em;
	text-align:justify;
}

#file table caption .num {
	font-family: 'Cambo', serif !important;
	font-size: 2em;
	font-weight: bold;
	color: #e60000;
	margin-bottom: 2%;
}

#file .bio {
	font-size: 0.9em;
	font-style:oblique;
}

#file .bio::before, .bio::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid black;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

#file #References {
	background-color: #f2f2f2;
	margin-top: 2%;
	padding: 3%;
}

#file #References p {
	font-family: 'Questrial', sans-serif;
	font-size:0.9em;
}

#file #References p .biblioMarker {
	font-weight: bold;
	color: #e60000;
}

#file #References h2 {
	color: #e60000;
	font-family: 'Cambo', serif !important;
	font-style: italic;
	font-size: 220%;
	font-weight: 200;
}


/** COVER FEATURES **/
#file {
	background: url("img/barcode.jpg"), url("img/background2000.jpeg");
	background-position: 2% 98%, top;
	background-repeat: no-repeat, no-repeat;
	background-size: 15%, cover;
	padding-left: 2%;
	padding-bottom: 2%;
}

#file #IssueCover h1 {
	font-family: Vogue !important;
	font-weight: 100 !important;
	font-kerning: normal;
	text-transform: uppercase;
	color:white;
	font-size: 12vmax;
	text-align: center;
}

#file .IssueBibliographicCitation {
	color:white;
	text-transform: uppercase;
	font-family: 'Barlow Semi Condensed', sans-serif !important;
	font-weight: 200 !important;
	margin-top: -15%;
	margin-bottom: 20%;
	font-size: 2.5vmin;
	width:10vmin;
	word-break: break-all;
}

#file .ArticleInfo {
	color:white;
}

#file .ArticleInfo p {
	width:60%;
}

#file .ArticleInfo:nth-child(even) {
	text-align: right;
	margin-left: 60%;
	width:60%;
}

#file .ArticleInfo .coverLabel a {
	color: white;
	font-family: 'Barlow Semi Condensed', sans-serif !important;
	font-weight: 400 !important;
	font-size: 3.7vmax;
	line-height: 0.8em;
	text-decoration: none;
}

#file .ArticleInfo .coverLabel a:hover {
	text-decoration: underline;
}

#file .ArticleInfo .coverAuthor {
	color:#ffcc00;
	font-family: 'Source Serif Pro', serif !important;
	font-style: oblique;
	font-size: 2vmax;
}

#file .ArticleInfo .coverIssued {
	font-family: 'Questrial', sans-serif !important;
	font-weight: 200 !important;
	letter-spacing: 0.002em;
	text-transform: uppercase;
	font-size: 1.5vmax;
}


@media only screen and (max-width:780px) {
#ArticleBody {
    column-count: 2;
  }
.title, .subtitle, .coverpic {
	width:100%;
	column-span: all;
  }
.coverimg img{
	max-width:100%;
	max-height: 100%
}
}

@media only screen and (max-width: 600px) {
#ArticleBody {
    column-count: 1;
  }
.title, .subtitle, .coverpic {
	width:100%;
	column-span: all;
  }
.coverpic img{
	max-width:100%;
	max-height: 100%
  }
#Abstract {
	margin-top: 0%;
}
}