@font-face {
	font-family: 'OptimaNovaLTProLight';
	src: url(fonts/OptimaNovaLTProLight.otf); /*body*/
}

@font-face {
	font-family: 'Susanna';
	src: url(fonts/Susanna.otf); 
}
  
@font-face {
	font-family: 'NightStillComes'; 
	src: url(fonts/NightStillComes_mine_final_sample.otf);
}
  
@font-face {
	font-family: 'morion-bold.332ab69e'; 
	src: url(fonts/morion-bold.332ab69e.ttf);
   /* caps? */ 
}
@font-face {
	font-family: 'morion-regular.c5d43538'; 
	src: url(fonts/morion-regular.c5d43538.ttf);
}

#file { /* aggiungi su light */
	width: 100%;
	margin: 0;
	padding: 0;
	overflow:hidden;
}
#file .parallax {
    /*The image used*/ 
    background-image: url("img/darkleaves_1.jpg");
  
    /* Set a specific height */
    height: 40vh; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
#file img.logo {
	display: block;
  	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
  	width: 17%;
}
#file #ArticleBody {
	background: linear-gradient(to bottom, #07221e 66%, #252d25 100%);
	background-repeat: no-repeat;
  	background-position: right top;
  	background-attachment: fixed;
	background-size: 100%;
	padding: 0;
	color: #dbe3cb;
	font-family: 'OptimaNovaLTProLight';
	font-size: 14pt;
	text-align: left;
	line-height: 1.7;
	padding-bottom: 10%;
}
#file img.coverpic {
	max-width: 100%;
	position: relative;
	float: left;
}

#file img.coverimg { 
	max-width: 100%;
	position: left;
	display: block;
	filter: brightness(80%);
	filter: sepia(40%);
}

#file h1 {
	color:#dbe3cb;
	font-family:'morion-bold.332ab69e';
	font-style: bold;
	font-size: 40pt;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	line-height: 1.5;
}
#file p.subtitle {
	color: #dbe3cb;
	font-family: 'morion-regular.c5d43538';
	font-size: 20pt;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 1.2;
}
#file div.coverinfo {  
	color: #dbe3cb;
	font-family: 'morion-regular.c5d43538';
	font-size: 14pt;
	text-align: center;
	font-style: bold;
	text-transform: uppercase;
	margin-top: 5%;
}

#file #ArticleBody h2 {
	font-family: 'morion-bold.332ab69e';
	font-size: 27pt;	
	padding-bottom: none;
}

#file #ArticleBody h3, #ArticleBody h4, #ArticleBody h5 {
	font-family: 'morion-regular.c5d43538';
	font-size: 25pt;	
}


#CoverWrapper div.parallax {
    display:block;
}
#CoverWrapper div.GiuliaMarkup {
    display:block;
}
#ArticleBody div#Footerimg {
    display:block;
}
#CoverWrapper div.GiuliaMarkup {
	text-align:center;
}
#CoverWrapper div.GiuliaMarkup #listeningTime{
	display:none;
}

#CoverWrapper div.GiuliaMarkup i.fa{
	font-size:200%;
	padding:10%;
}

#ListeningWrapper {
	display:none;
	position:fixed;
	top:33vh;
	right:10px;
	width:50px;
	z-index: 10px;
	background: darkgreen;
}

#file #ContentWrapper {
	color: #dbe3cb;
	font-size: 13pt;
	font-family: 'OptimaNovaLTProLight';
}
#file #ContentWrapper p {
	margin-left: 25%;
	margin-right: 25%;
	margin-top:5%;
}
#file #ContentWrapper h2, #file #ContentWrapper h3, #file #ContentWrapper h4, #file #ContentWrapper h5 {
	margin-left: 25%;
	margin-right: 25%;
}
#file #ContentWrapper blockquote {
	font-family: 'morion-regular.c5d43538';
	background-color: #6c7c73;
	display: block;
	max-width: 100%;
	margin: 0%;
	color: #dbe3cb;
	font-size: 50pt;
	text-decoration: solid;
	text-align: center;
	padding-bottom: 5%;
	padding-top: 5%;
} 

#file a:link {
	color: #a4b49c;
	background-color: transparent;
	text-decoration: none;
}
  
#file a:visited {
	color:#a4b49c;
	background-color: transparent;
	text-decoration: none;
}
  
#file a:hover {
	color: #a4b49c;
	background-color: transparent;
	text-decoration: underline;
}
  
#file a:active {
	color: #a4b49c;
	background-color: transparent;
	text-decoration: underline;
}

#file #icons img {
	display:inline-block;
	width:100px;
	padding:5%;
}

#file #icons img:hover {
	opacity:0.5;
}

#file #icons img:active {
	border: solid 1px #dbe3cb;
}

#ContentWrapper figure img{ 
	display: block;
	width: 80%;
	position: relative;
	float: right;
	padding-bottom: 5%;
	padding-left: 5%;
	filter: sepia(40%);
	width: 600;
 	height: 370;
  	transition: width 1s, height 1s, transform 1s;
}

#ContentWrapper figure img:hover {
	width: 650px;
	height: 420px;
	transform: scale(0.5, 0,5);
}

#file figcaption {
	display: inline-block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-family: 'morion-regular.c5d43538';
	font-style: bold;
	font-size: 13pt;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2%;
	padding-bottom:2%;
}

#file #Articlebody p.pubnote {
	font-family: 'OptimaNovaLTProLight';  
	font-size: 21pt;
	padding-bottom:10px;
}

#file #Credits > p:first-of-type::first-letter {
	font-family: 'Susanna';
	float: left;
	font-size: 80pt;
	font-weight: bold;
	line-height: 60px;
	padding-top: 30px;
	padding-right: 10px;
	color: #dbe3cb;
	float:left;
}
#file #Summary > p:first-of-type::first-letter, #Introduction > p:first-of-type::first-letter, #ContentWrapper > p:first-of-type::first-letter, #ContentWrapper h2 > p:first-of-type::first-letter {
	font-family: 'Susanna';
	float: left;
	font-size: 100pt;
	font-weight: bold;
	line-height: 60px;
	padding-top: 30px;
	padding-right: 10px;
	color: #dbe3cb;
	float:left;
}

#file #Articlebody figcaption .num {
	font-size: 15pt;
	text-align: center;
	line-height: 1;
    padding: 5px;
}
/* table */ 

#file #Articlebody table {
	color: #dbe3cb;
	table-layout: fixed;
	border-bottom-width: 2pt ;
	margin-bottom: 5%;
	margin-top: 5%;
	word-break: break-word;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 1px;
	border-collapse: separate;
}

#file #Articlebody th {
	border-style: none  #dbe3cb;
	border-bottom-width: 2pt ; 
	font-size: 15pt;
	font-family: 'OptimaNovaLTProLight';
	padding: 10px;
}

#file #Articlebody td {
	border-style: none #dbe3cb;
	border-bottom-width: 2pt ;
	font-family: 'OptimaNovaLTProLight';
	padding: 10px;
}

#file #Articlebody tr{
	border-style: none #dbe3cb;
	border-bottom-width: 2pt ;
	font-family: 'OptimaNovaLTProLight';
}

#file #FootWrapper {
	color:#dbe3cb;
	font-family: 'OptimaNovaLTProLight';
	background-color: #6c7c73;
	font-size: 13pt;
	text-align: left;
	line-height: 1.7;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
}
#file .footerimg {
	background-image: url("img/sust_3.png");
	max-width: 100%;
    height: auto;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
/*ISSUED COVER */

#IssuedCover {
	background-image: url("../2040/img/background2040.jpg");
	background-position: 100%;
	max-width: 100%;
	height: auto;
	padding: 0;
	color:#dbe3cb;
	font-family: 'NightStillComes';
	font-size: 14pt;
	text-align: left;
	line-height: 1.7;
}

#IssuedCover h1 {
	color:#dbe3cb;
	font-family:'morion-bold.332ab69e';
	font-style: bold;
	font-size: 40pt;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	line-height: 1.5;
}
/* responsive img*/
@media screen and (max-width: 992px) {
	#ContentWrapper figure img {
	  width:480px;
	  height:296px;
	}
	#ContentWrapper figure img:hover {
		width: 520px;
		height: 336px;
	}
  }
@media screen and (max-width: 900px) {
	#file #ContentWrapper p {
		margin-left:15%;
		margin-right:15%;
	}
}
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
	#ContentWrapper figure img {
		width:360px;
		height:222px;
	  }
	  #ContentWrapper figure img:hover {
		  width: 390px;
		  height: 252px;
	  }
  }
