@font-face {
	font-family: MiddleAges;
	src: url(fonts/MiddleAges_PERSONAL_USE.ttf);
}

@font-face {
	font-family: mySquac;
	src: url(fonts/squac___.TTF);
}
  
@font-face {
	font-family: mySeagram;
	src: url(fonts/Seagram.ttf);
   /* article body */ 
}
  
@font-face {
	font-family: myCaps;
	src: url(fonts/Medievalalphabet-4EY6.ttf);
   /* caps */ 
}

#file {
	width: 100%;
	margin: 0;
	padding: 0;
}

#file .parallax {
	display: none;
}

#file.logo {
	display: none;
}

#file #ArticleBody {
	color: #000000;
    	min-height:100% !important;
	padding-top: 50px;
	padding-bottom: 320px;
	font-size: 12pt;
	font-family: mySeagram !important;
	text-align: justify ;
	column-gap: 7%;
	column-fill: balance;
	padding: 7%;
	word-wrap: normal;
	line-height: 1;
	background-image: url("img/oldpaper_texture.png") !important;
	width: 100%;
	background-size: 100%;
	overflow-x: hidden;
}

#file .coverpic {
	max-width: 80%;
	position: relative;
}

#file .coverimg { 
	max-width: 70%;
	position: left;
	display: block;
	filter: brightness(80%);
	filter: sepia(40%);
	margin-left: auto;
	margin-right:auto;
	filter: sepia(1);
	-webkit-filter: sepia(1);
	border: double 14px brown;
	margin-top: 15px;
    	margin-bottom: 15px;
}

#file #CoverWrapper h1 {
	color: darkred; 
	text-transform: uppercase;
	text-align: left;
	font-family: mySeagram;
    	font-size: 4vmax;
	letter-spacing: 1vmin;
    	word-break: break-word;
	column-span: all;
}

#file #CoverWrapper p.subtitle {
	color: black;
	font-family: mySeagram;
	font-size: 20pt;
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 1.2;
}

#file #ArticleBody h2 {
	letter-spacing: 1vmin;
	text-align: left; 
	text-transform: uppercase;
	line-height: 1.3;
	font-size: 3vmax;
	font-family:  mySeagram !important;
	padding-top: 20px;
	padding-bottom: 20px;
	color: darkred;
	text-align: left;
	word-break: break-word;
	letter-spacing: 1.5;

	/* column-span: all;*/
}

#file #ArticleBody h3, #ArticleBody h4, #ArticleBody h5 {
	font-family:  mySeagram;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 1vmin;
	font-size: 2vmax;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.5;
	color: darkred;
	text-align: left;
	word-break: break-word;
	letter-spacing: 1.5;

	/*column-span: all;*/
}

#file #ContentWrapper {
	column-count: 2;
}

#file #ContentWrapper blockquote {
	font-family: mySeagram;
	font-size: 13pt;
	text-align: justify;
} 

#file #ContentWrapper a:link {
	color: darkred;
	background-color: transparent;
	text-decoration: none;
	word-break: break-all;
}
  
#file #ContentWrapper a:visited {
	color: black;
	background-color: transparent;
	text-decoration: undeline;
}
  
#file #ContentWrapper a:hover {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}
  
#file #ContentWrapper a:active {
	color: black;
	background-color: transparent;
	text-decoration: underline;
}

#file #icons img {
	display:none;
}

#file #CoverWrapper {
	font-family: mySeagram !important;
	text-transform: uppercase;
	text-align: left;
	line-height: 1;
	font-size: 20pt;
	padding-bottom: 110px;
	column-span: all;
}

#file div.coverinfo {
	font-size: 13pt;
	text-align: left;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	line-height: 1.2;
	
} 

#file #Introduction {
	padding-top: 70px;
	font-size: 12pt;
	font-family: mySeagram !important;
	text-align: justify;
	line-height: 1;
}

#file #ContentWrapper img {
    	max-width: 70%;
    	max-height: 70%;
	display: block;
   	margin-left: 5;
    	margin-right: auto;
	filter: sepia(1);
	-webkit-filter: sepia(1);
	border: double 9px brown;
	margin-top: 15px;
    	margin-bottom: 15px;
}

#file #Articlebody p.pubnote {
	font-family: mySeagram;
	font-size:21pt;
	padding-bottom:10px;
	text-align: justify;
}

#file #Credits > p:first-of-type::first-letter {
	font-family: myCaps;
	float: left;
	font-size: 230pt;
	line-height: 70px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 10px;
	color: darkred;
	float:left;
	line-height: 0.63em;
}
/* #file #CoverWrapper h1 > p:first-of-type::first-letter {
	font-family: myCaps;
	float: left;
	font-size: 230pt;
	line-height: 70px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 10px;
	color: darkred;
	float:left;
	line-height: 0.63em;
}*/

/*#file #Summary > p:first-of-type::first-letter, #Introduction > p:first-of-type::first-letter, #Abstract > p:first-of-type::first-letter, #ContentWrapper h2 > p:first-of-type::first-letter {
	font-family: myCaps;
	float: left;
	font-size: 200pt;
	line-height: 80px;
	padding-top: 40px;
	padding-right: 10px;
	color: darkgreen; 
	float:left;
	line-height: 0.63em;
}*/
#file #ContentWrapper > p:first-of-type::first-letter {
	font-family: myCaps;
	float: left;
	font-size: 130pt;
	line-height: 80px;
	padding-top: 40px;
	padding-right: 10px;
	color: darkgreen; 
	float:left;
	line-height: 0.63em;
}

#file #Articlebody figcaption {
	font-size: 10pt;
	text-align: justify;
	line-height: 1.5;
    	padding: 5px;
}

#file #Articlebody figcaption .num {
	font-size: 12pt;
	text-align: justify;
	line-height: 1;
    	padding: 5px;
}

/* table */ 
#file #Articlebody th {
	border: 1px solid black; 
	font-size: 15pt;
	text-transform: uppercase;
	padding: 10px;
}

#file #Articlebody td {
	border: 1px solid black;
	padding: 10px;
}

#file #Articlebody tr{
	border: 1px solid black;
}

#file #Articlebody table {
	border: 4px solid;
	margin-bottom: 25px;
	margin-top: 25px;
	word-break: break-word;
	margin-left: auto;
	margin-right: auto;
	color: black;
	border-spacing: 1px;
	border-collapse: separate;
	page-break-inside: avoid;
}
#file #FootWrapper {
	color: black;
	font-family: mySeagram;
	font-size: 12pt;
	text-align: left;
	line-height: 1.5;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
}
#file .footerimg {
	display: none;
}

#file .pubnote {
	color: black;
	font-family: mySeagram;
	font-size: 12pt;
	text-align: left;
	line-height: 1.5;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 5%;
}

/*ISSUECOVER*/
#IssueCover {
	background-image: url("img/Eye_1.png"), url("img/bordertrasp2.png"), url("img/oldpaper_texture.png") ;
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: 48% 6%, top left, center;
	background-size: 36% 15%, 100% 100%, 100% 100%;
	width: 100%;
}
#file #IssueCover h1 {
	color: darkred;
	font-family:'mySeagram';
	font-size: 35pt;
	text-align: center;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	padding-top: 45%;
	line-height: 1pt;
}
#file .IssueBibliographicCitation {
	color: black;
	font-family: 'mySeagram';
	font-size: 15pt;
	text-align: center;
}
#file #IssueIndex a {
	color: black;
	word-break: break-all; 
}
#IssueIndex .ArticleInfo {
	color: black;
	font-family: 'mySeagram';
	font-size: 12pt;
	text-align: justify;
	margin-left: 10%;
	margin-right: auto;
	margin-bottom: 30%;
	
}
#file #IssueIndex img.articleImg {
	display:none;
}

#IssueIndex {
	column-count: 2;
	column-gap: 3%;
	column-fill: balance;
	padding: 3%;
	margin-left:10%;
	margin-right: 10%;
	padding-bottom: 200px;
	word-wrap: normal;
	line-height: 1;
}
#IssueCover > h1:first-of-type::first-letter {
	font-family: 'MiddleAges';
	font-size: 70pt;
	color: darkred;
}
#IssueIndex > .ArticleInfo::first-letter {
	font-family: 'myCaps';
	color: darkgreen;
	font-size: 60pt;
}

/* responsive img*/
@media screen and (max-width: 992px) {
	#ContentWrapper figure img {
	  width:480px;
	  height:296px;
	}
	#ContentWrapper figure img:hover {
		width: 520px;
		height: 336px;
	}
	#file #IssueCover h1 {
		font-size: 20pt;
		margin-bottom: 5%;
		letter-spacing: 1; 
	}
	#file #IssueCover > h1:first-of-type::first-letter {
		font-size: 70pt;
	}
	#file #Credits > p:first-of-type::first-letter {
	font-size: 230pt;
	}
	
	#file #ArticleBody h1 > p:first-of-type::first-letter {
	font-size: 230pt;
	}

	#file #Summary > p:first-of-type::first-letter, #Introduction > p:first-of-type::first-letter, #ContentWrapper h2 > p:first-of-type::first-letter {
	font-size: 150pt;
	}
	#file #ContentWrapper > p:first-of-type::first-letter {
	font-size: 100pt;
	}
}
  
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 900px) {
	#ContentWrapper figure img {
		    width: 280;
    		    height: 250;
	 }
	#ContentWrapper figure img:hover {
		width: 390px;
		height: 252px;
	}
	
	#file h1 {
	font-size: 20pt;
	}

	#file p.subtitle {
	font-size: 15pt; 
	}
	
	#file #IssueCover h1 {
		font-size: 25pt;
	}
	#file #IssueCover > h1:first-of-type::first-letter {
		font-size: 60pt;
	}
	#file #Credits > p:first-of-type::first-letter {
	font-size: 230pt;
	}
	#file #ArticleBody h1 > p:first-of-type::first-letter {
	font-size: 230pt;
	}

	#file #Summary > p:first-of-type::first-letter, #Introduction > p:first-of-type::first-letter, #ContentWrapper h2 > p:first-of-type::first-letter {
	font-size: 130pt;
	}
	#file #ContentWrapper > p:first-of-type::first-letter {
	font-size: 90pt;
	}
}
	#file #ArticleBody table {
		column-span: all; 
	}
  }

@media screen and (max-width: 640px) {
	#ContentWrapper figure img {
		width:360px;
		height: 222px;
	  }
	#ContentWrapper figure img:hover {
		width: 390px;
		height: 252px;
	}
	#file #IssueCover h1 {
		font-size: 20pt;
	}
	#file #IssueCover > h1:first-of-type::first-letter {
		font-size: 40pt;
	}
	#file #Credits > p:first-of-type::first-letter {
	font-size: 200pt;
	}
	#file #ArticleBody h1 > p:first-of-type::first-letter {
	font-size: 200pt;
	}

	#file #Summary > p:first-of-type::first-letter, #Introduction > p:first-of-type::first-letter, #ContentWrapper h2 > p:first-of-type::first-letter {
	font-size: 100pt;
	}
	#file #ContentWrapper > p:first-of-type::first-letter {
	font-size: 80pt;
	}
}
@media screen and (max-width: 480px) {
	#file #IssueCover h1 {
		font-size: 12pt;
		padding-top: 55%;
		letter-spacing: 4;
	}
	#file #IssueCover > h1:first-of-type::first-letter {
		font-size: 35pt;
	}
	#file #Credits > p:first-of-type::first-letter {
	font-size: 180pt;
	}
	#file #ArticleBody h1 > p:first-of-type::first-letter {
	font-size: 180pt;
	}

	#file #Summary > p:first-of-type::first-letter, #Introduction > p:first-of-type::first-letter, #ContentWrapper h2 > p:first-of-type::first-letter {
	font-size: 80pt;
	}
	#file #ContentWrapper > p:first-of-type::first-letter {
	font-size: 60pt;
	}
}
@media screen and (max-width: 220px) {
	#file #IssueCover h1 {
		font-size: 12pt;
		margin-top: 50%;
		letter-spacing: 4;
	}
	#file #IssueCover > h1:first-of-type::first-letter {
		font-size: 30pt;
	}
	#file #Credits > p:first-of-type::first-letter {
	font-size: 150pt;
	}
	#file #ArticleBody h1 > p:first-of-type::first-letter {
	font-size: 150pt;
	}

	#file #Summary > p:first-of-type::first-letter, #Introduction > p:first-of-type::first-letter, #ContentWrapper h2 > p:first-of-type::first-letter {
	font-size: 60pt;
	}
	
	#file #ContentWrapper > p:first-of-type::first-letter {
	font-size: 40pt;
	}
}
/*DISCLAIMER*/
#file #disclaimer {
	background-image: url("img/cornicetrasp2.png"), url("img/oldpaper_texture.png") ;
	background-repeat: repeat-x, repeat;
	background-position: top left, center;
	background-size: 100% 100%, 100% 100%;
	width:100%;
}

#file #disclaimerText {
	color: black;
	font-family: 'mySeagram';
	font-size: 12pt;
	text-align: justify;
	line-height: 1;
	padding: 20%;
	margin-top: 20%;
	margin-right: 5%;
	margin-left: 5%;
}
#file #disclaimerText a {
	text-align: center;
}

@media screen and (max-width: 600px) {
#file #ContentWrapper {
    column-count: 1;									
  }
}
