
/*COLOR DARK #25383C*/
/*COLOR PURPLE #6351ce*/
/*COLOR LIGHT-GREY F5F5F5*/
/*LIGHTBLUE #add8e6*/
/*COLOR BLUE #4e98da*/

@font-face {
	font-family: 'OpenSans';
    src: url(font/OpenSans-Regular.ttf);
  
  }
  @font-face {
	font-family: 'RobotoSlab';
    src: url(font/RobotoSlab-Regular.ttf);
  
  }


  @font-face {
	font-family: 'Roboto';
    src: url(font/Roboto-Regular.ttf);
  
  }

body {
    padding-top: 70px;
    font-family: "Roboto", sans-serif;
}
#selector, #fileWrapper {
    height:100%;
}


h1, h2, h3, h4, h5{
    font-family: 'OpenSans', sans-serif;
}



#fileWrapper {
    font-family: 'Roboto', sans-serif;
}
#selector {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom:20px;
}

#selector .list a {
    padding-top: 25px;
}

.sticky {
    position: sticky;
    top: 0;
  }
.sticky #metadataViewer {
    padding-top:70px;
}

#metadataViewer .label {
    font-weight: bold;
}
#floating-btns {
    width:100%;
    margin-top:1em;
}
#styles {
    border-radius: 10px;
    width:45%;
    overflow:hidden;
    float: left;
    border: 1px solid;
    color: #4e98da;
    padding: 2px 7px 2px 7px;
    background: #f5f5f5;
    transition:1s;
}
#styles:hover {
    color:#f5f5f5;
    background-color:#4e98da ;
}
#styles option {
    color:black;
    background: #f5f5f5;
}
#styles option:checked{
    color:#f5f5f5;
    background: #4e98da;
}
#disclaimer-btn button {
    width:45%;
    overflow:hidden;
    float: left;
    background-color: #4e98da;
    margin-left: 10%;
    padding-left: 1em;
    padding-right: 1em;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    transition:1s;
}
#disclaimer-btn button:hover {
    background-color: #add8e6;
    color:white;
}

#IssueBox {
    margin-top: 1em;
    margin-bottom: 3em;
    width: 95%;
    margin-left: 2.5%;
}

#metadataIssue {
    margin-top:0.6em;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
#metadataIssue .label {
    font-weight: bold;
    text-transform: lowercase;
}

#paginationLinks {
    background-color: #add8e6;
    font-size: 1.2em;
    width: 100%;
    border-radius: 0px 15px 0px 0px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pagination-link {
    width:33%;
    cursor: pointer; /* Pointer/hand icon */
    float: left;
}

.pagination-link a {
    color:#fff;
    width:100%;
    text-decoration: none;
    padding-left:0.3em;
    padding-right:0.3em;
    transition: 1s;
}
.pagination-link a:hover {
    opacity: 1;
    color:  #4e98da;
    background-color: #F5F5F5;
}

#paginationLinks:after {
    content: "";
    clear: both;
    display: table;
  }

  a {
    color:#4e98da;
    transition:0.3s;
  }

  a:hover {
      text-decoration: none;
    color:#25383C;
  }

#metadataArticle {
    width: 95%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2.5%;
}

#metadataArticle .nav-item{
    background-color: #f5f5f5;
}

#metadataArticle .nav-item a{
    color: #4e98da;
}

  #metadataArticle .nav-item a:hover{
    color:#f5f5f5;
    background-color: #4e98da;
}
#metadataArticle .nav-item .active {
    color:#f5f5f5;
    background-color: #4e98da;
}
#metadataArticle .tab-pane{
    background-color:#f5f5f5;
    color: #25383C;
    padding:15px;
    font-size:90%;
    border-radius:0px 0px 10px 10px; 
}


#occurrences {
    position: fixed;
    top: 50vh;
    right: 0;
    width: 200px;
    margin-right: 1em;
    z-index:1;
    padding-left: 1em;
    background: #fff;
    border: 1px solid grey;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
    #occurrences-list{
        height: 130px;
        display: block;
        font-size: 80%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #wikiLink {
        display: block;
        font-size: 90%;
        padding-left: 5px;
        padding-top: 15px;
    }

    #selector::-webkit-scrollbar-track, #occurrences-list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #selector::-webkit-scrollbar, #occurrences-list::-webkit-scrollbar {
        width: 8px;
        background-color: #F5F5F5;
    }

    #selector::-webkit-scrollbar-thumb, #occurrences-list::-webkit-scrollbar-thumb{
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }




#paginationLinks {
    display: none;
}

.tab-pane {
    padding-top: 5px;
    min-height: 150px;
}



.list {
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    list-style-position: outside;
    display: block;
}


.inline-list li {
    display: inline-block;
}

#fileWrapper {
    transition: margin-left .5s;
    font-family: 'Roboto', sans-serif;
}
#file {
    padding:2em;
    text-align:justify;
}
#IssueCover .articleImg {
    display:none;
}
#ArticleBody {
    display:block;
    overflow:hidden;
    word-wrap: break-word;
    hyphens: auto;
}

#ArticleBody img {
    display:block;
    margin-left: auto;
    margin-right:auto;
    max-height:100%;
    max-width:100%;
}
#ArticleBody figcaption {
    text-align: center;
    padding: 5px;
}

#ArticleBody table {
    margin-left: auto;
    margin-right:auto;
}

#ArticleBody caption {
    color: inherit;
    text-align: center;
}

.figure-wrapper, .table-wrapper {
    display:block;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#D3D3D3;
}

.figure-widget {
    text-align:center;
}
.figure-widget img {
    display:block;
    max-width:80%;
    max-height: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top:25px;
    padding-bottom:25px;
}
.table-widget {
    display: block;
    max-width:80%;
    max-height: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-top:25px;
    padding-bottom:25px;
    overflow-x: scroll;
    font-size:0.9em;
}

.offcanvas {
    left: 0;
    height:100%;
    position: fixed;
    top:0;
    padding-top: 70px;
    width: 320px;
    z-index: 2;
    transform: translateX( -100% );
    transition: all 0.25s;
    overflow-y:scroll;
    background-color: white;
}

.closebtn {
    color:black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
}

#closebtn-1 {
    display:none;/*value will change via javascript*/
    top: 60px;
    right: 0px;
    z-index: 3;
    padding: 2px 7px 2px 7px;
    line-height: 0.8;
} 

.closebtn:hover {
    text-decoration: none;
}

a#closebtn-2 {
    top: -30px;
    margin-right: 0.2em;
    font-size: 2em;
}

/**#sticky-eye {
    position:fixed;
    top:50px;
    left:0;
    width:100%;
    height: 60px;
    overflow: hidden;
    background:white;
    padding: 0.5em;
    z-index:1;
    font-size:30px; 
    padding-left:5px;
    cursor:pointer;
    display: none;/*value will change via javascript*/


#wikiLink {
    font-size: 80%;
    padding-left: 5px;
}

.animate {
    animation-name: bgcolor;
    animation-duration: 1.50s;
    animation-iteration-count: 3;
    animation-fill-mode: backwards;
}

@keyframes bgcolor {
    from {
        background-color: #ffffff;
    }

    to {
        background-color: greenyellow;
    }
}

@media only screen and (max-width: 768px) {
    #issueInfo {
        top:0;
        margin-left:0;
        display:inline-block;
        width:200px;
        min-height: 150px;
    }    
    .sticky #metadataViewer {
        padding-top:0px;
    }
    #closebtn-1 {
        display:block;
    }

    #sticky-eye {
        display:block;
    }
    
    #fileWrapper {
        margin-top: 60px;
    }
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
